@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  background-color: black;
  box-sizing: border-box;
}

.container {
  transition: 0.6 ease-in-out;
  font-family: Poppins;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  cursor: pointer;
}

.heading {
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

#city {
  background-color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 0.5px solid black;
}

.hum,
#hum,
.temp,
#therm,
.wind-speed,
#wind,
.wind-direction,
#comp,
.feels-like,
#feels-like {
  background-color: white;
  margin-bottom: 5px;
  color: black;
  font-size: 20px;
  vertical-align: top;
  font-weight: 450;
  animation: opacity 1s;
}

.submit-btn {
  transition: background-color 0.2s ease-in-out;
  font-size: 20px;
  border: none;
  border-radius: 13px;
  padding: 12px 17px;
  margin: 5px;
  color: white;
  background-color: #244dff;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #1636c2;
}

.card {
  display: none;
}

.display-card {
  animation: fadein 1.5s ease-in-out;
  transition: transform 0.2s ease-out;
  display: inline;
  background-color: white;
  border-radius: 20px;
  height: fit-content;
  width: 470px;
  text-wrap: balance;
  padding: 40px 40px;
  margin: 15px auto;
  text-align: center;
}

.display-card:hover {
  transform: translateY(-7px);
}

img {
  background-color: white;
  width: 30px;
  height: 30px;
  padding-right: 2px;
}

.search-box {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  transition: 0.6 ease-in-out;
  background-color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opactiy: 1;
  }
}
